
body {
    font-size: 14px;
    font-family: var(--font-family-primary);
    font-weight: 400;
    line-height: 150%;
    color: var(--white);
    background-color: var(--primary-dark-blue);
}

a,
button,
input,
textarea,
svg * {
    transition: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

// h1 {
//     @include fluid-text();
// }

// h2 {
//     @include fluid-text(32, 18);
// }